
body{
    font-family: 'Roboto';
    /* min-width: 1920px;s */
}


a{
    text-decoration: none;
    color: black;

    
}

h1,h2, h3, h4{
    font-weight: 700;
    color: #464646;
}

p{
    font-size: 18px;
    font-weight: 300;
    color: #c6c3c3;
}

header{
    background-image: url(/images/header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 798px;
    padding: 36px 72px;
}

    

#top-nav{
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 500px;
    
}



#top-nav ul{
    display: flex;
    list-style: none;
   

}

#top-nav a{
    color: #fff;
    margin: 0 10px;
}

.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.mensaje span{
    display: block;
    color: white;
    font-size: 26px;
    font-weight: 100;

}

.mensaje h1{
    color: white;
    font-size: 65px;
    width: 700px;
    margin-bottom: 60px;
}

.mensaje a{
    background-color: #8BC34A;
    color: white;
    padding: 18px 20px;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
   bottom: -10px;
   left: 300px;

}

#top-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    text-align: center;

}

#top-heading h2
{
    font-size: 30px;
}

#top-heading p{
    width: 400px;
    margin-top: -5px;
    line-height: 30px;
}

.card i{
    font-size: 50px;
    color: white;
    background-color: #1BBB9B;
    border-radius: 50%;
    padding: 20px; 
    margin-bottom: 10px; 
    
width: 50px;
}

#cards{
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;

}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    
}


.card h3{
    margin: 0;
}

.card p{
    line-height: 25px;
}

section{
    height: 500px;
}

.video-section{
    background-color: #FAF9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
    height: 350px;
    margin-bottom: 40px;
}

.video-info{
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}

.video-info p{
line-height: 25px;
    width: 450px;
}

.video-info a{
    background-color: #8BC34A;
    color: white;
    padding: 18px 20px;
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    margin-bottom: -100px;
    margin-top: 15px;
}


footer{
    height: 300px;
    background-color: #8BC34A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.list{
    display: flex;
    
}
.list ul{
    line-height: 25px;
    list-style: none;
    font-weight: 100;
    color: white;
}

.footer-headings span{
    display: block;
    font-size: 24px;

}

.footer-headings h2{
    font-size: 36px;
    color: white;
}

.footer-headings p{
    color: white;
    margin-top: -24px;
    font-size: 16px;
}

.rights{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:  0;
    background-color: #7DAF42;
    gap: 80px;
}

.rights p{
    color: white;
}

.icons{
    display: flex;
    gap: 10px;
    color: white;
    
}

.icons li{
    list-style: none;
}

i{
    color: white;
}